.groops {
    display: flex;
    overflow-x: auto;
    align-items: center;
    padding-bottom: 20px;
}

.groops::-webkit-scrollbar {
    width: 24px; 
    height: 8px;
    background-color: black;
    border-radius: 9em;
}


.groops::-webkit-scrollbar-thumb {
    background-color: #843465;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

.groops::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}


.tab {
    font-size: 22px;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 20px;
    white-space: nowrap;
    border-bottom: 2px solid black;
}