.list-item {
    display: flex;
    font-size: 25px;
    padding: 10px 0px;
    align-items: center;
    border-bottom: 2px solid black;
}

.list-item .name {
    margin-right: auto;
}

.list-item .price {
    margin-right: 40px;
}

.list-item .close {
    cursor: pointer;
    margin-right: 10px;
}